 html,
 body,
 div,
 span,
 applet,
 object,
 iframe,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 blockquote,
 pre,
 a,
 abbr,
 acronym,
 address,
 big,
 cite,
 code,
 del,
 dfn,
 em,
 img,
 ins,
 kbd,
 q,
 s,
 samp,
 small,
 strike,
 strong,
 sub,
 sup,
 tt,
 var,
 b,
 u,
 i,
 center,
 dl,
 dt,
 dd,
 ol,
 ul,
 li,
 fieldset,
 form,
 label,
 legend,
 table,
 caption,
 tbody,
 tfoot,
 thead,
 tr,
 th,
 td,
 article,
 aside,
 canvas,
 details,
 embed,
 figure,
 figcaption,
 footer,
 header,
 hgroup,
 menu,
 nav,
 output,
 ruby,
 section,
 summary,
 time,
 mark,
 audio,
 video {
   margin: 0;
   padding: 0;
   border: 0;
   /* vertical-align: baseline; */
   box-sizing: border-box;
 }

 h1 {
   color: #21207F;
 }

 h2 {
   color: #a5a6a8;
 }

 /* HTML5 display-role reset for older browsers */
 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 menu,
 nav,
 section {
   display: block;
 }

 ol,
 ul {
   list-style: none;
 }

 blockquote,
 q {
   quotes: none;
 }

 blockquote:before,
 blockquote:after,
 q:before,
 q:after {
   content: '';
   content: none;
 }

 table {
   border-collapse: collapse;
   border-spacing: 0;
 }

 a {
   text-decoration: none !important;
   color: #0B093B;
 }

 a:hover {
   color: #7620FF;
 }

 input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 50px #fff inset;
   /* Change the color to your own background color */
   box-shadow: transparent;
   -webkit-text-fill-color: #fff;
 }

 body {
   background: #fff;
   color: #0B093B;
   /* font-family: 'Khula', sans-serif; */
   font-family: 'Tajawal', sans-serif;
   overflow-x: hidden;
   font-size: 16px;
   font-weight: 400;

 }

 .container {
   width: 100%;
   max-width: 1520px;
   margin: 20px 20px;
   padding: 0px 30px;
   margin: auto;
   /* text-align: center; */
 }

 .evlution_box{
  width:600px;
 }
 .text-reset{
  text-align: center;
 }
.text-reset:hover{
  font-weight: 900;
}

 @media only screen and (max-width: 859px) {
   .container {
     padding: 0 15px;
     
   }
 .evl_continer{
  margin: auto;
 }
 .evlution_box{
  width:50%;
  text-align: center;

  /* border:solid #000 10px; */
  justify-content: center;
  align-items: center;
 }
 .evlution_box_text{
  /* border:solid #000 10px; */
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 }

 .regular {
   font-weight: 400 !important;
 }

 .semiBold {
   font-weight: 600 !important;
 }

 .extraBold {
   font-weight: 800 !important;

 }

 /* HELLPERS */
 .textCenter {
   text-align: center
 }

 .animate {
   transition: 0.3s ease;

 }

 .pointer {
   cursor: pointer;
   list-style: none;
 }

 .relative {
   position: relative;
 }

 .textCenter {
   text-align: center;
 }

 .textLeft {
   text-align: left;
 }

 .textRight {
   text-align: right;
 }

 .x100 {
   width: 100%;
 }

 .active {
   border-bottom: 2px solid #7620FF;
   color: #7620FF;
 }

 .tag {
   padding: 5px 10px;
   margin: 10px 0;
 }

 .shadow {
   box-shadow: 0 0 11px rgba(237, 232, 237, 0.5);
   -webkit-box-shadow: 0 0 11px rgba(237, 232, 237, 0.5);
   -moz-box-shadow: 0 0 11px rgba(237, 232, 237, 0.5);
 }

 /* FLEXBOX */
 .flex {
   display: flex;
 
 }


 .flexSpaceCenter {
   display: flex;
   justify-content: space-between;
   align-items: center;
   
   
   
 }


 .flexNullCenter {
   display: flex;
   /* position: absolute; */
   /* align-items: center; */
 }
 @media(max-width:960px){
  .flexNullCenter{
    /* padding:  15px; */
    /* border: solid 6px #000; */
    position: relative;
    right:7%;
    align-items: flex-end;

  }
  .responsev-m{
    margin-left: 10px;
  }
 }

 .flexColumn {
   flex-direction: column;
 }

 .flexCenter {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .flexSpaceNull {
   display: flex;
   justify-content: space-between;
 }

 /* FONT SIZES */
 .font11 {
   font-size: 0.688rem;
 }

 .font12 {
   font-size: 0.75rem;
 }

 .font13 {
   font-size: 0.813rem;
 }

 .font14 {
   font-size: 0.875rem;
 }

 .font15 {
   font-size: 0.938rem;
 }

 .font18 {
   font-size: 1.125rem;
 }

 .font20 {
   font-size: 1.25rem;
 }

 .font25 {
   font-size: 1.563rem;
 }

 .font30 {
   font-size: 1.875rem;
 }

 .font40 {
   font-size: 2.5rem;
 }

 .font60 {
   font-size: 3.75rem;
   line-height: 4.5rem;
   color: #2D3291;
   text-align: right;
   font-family: "Tajawal";
   font-size: 72px;
   font-style: normal;
   line-height: 72px; /* 100% */
 }

 @media only screen and (max-width: 859px) {
   .font11 {
     font-size: 0.688rem;
   }

   .font12 {
     font-size: 0.688rem;
   }

   .font13 {
     font-size: 0.75rem;
   }

   .font14 {
     font-size: 0.813rem;
   }

   .font15 {
     font-size: 0.813rem;
   }

   .font18 {
     font-size: 0.938rem;
   }

   .font20 {
     font-size: 1.125rem;
   }

   .font25 {
     font-size: 1.25rem;
   }

   .font30 {
     font-size: 1.5rem;
   }

   .font40 {
     font-size: 1.875rem;
   }

   .font60 {
     font-size: 2.8rem;
   }
 }

 /* BORDER RADIUS */
 .radius8 {
   border-radius: 1rem;
 }

 .radius6 {
   border-radius: 0.6rem;
 }

 /* COLORS */
 .darkColor {
   color: #0B093B;
 }

 .purpleColor {
   color: #7620FF;
 }

 .orangeColor {
   color: #F2B300;
 }

 .lightColor {
   color: #F5F5F5;
 }

 .coralColor {
   color: #C4FFFF;
 }

 .greenColor {
   color: #49CB86;
 }

 .greyColor {
   color: #707070;
 }

 .whiteColor {
   color: #fff;
 }

 /* BACKGROUNDS */
 .darkBg {
   background-color: #F6F6F6;
 }

 .purpleBg {
   background-color: #7620FF;
 }

 .orangeBg {
   background-color: #F2B300;
 }

 .lightBg {
   /* background-color: #F5F5F5; */
   background-color: white;
 }

 .coralBg {
   background-color: #C4FFFF;
 }

 .greenBg {
   background-color: #49CB86;
 }

 .greyBg {
   background-color: #707070;
 }

 .whiteBg {
   background-color: #fff;
 }

 .service-car-images {
   position: relative;
   top: -150px;
   left: 0;
   /* align-items: center; */
 }

 .service-car-image-1 {
   position: absolute;
   top:0;
   left: 0;
   width: 85%;

 }

 .service-car-image-2 {
   position: absolute;
   top: 50px;
   left: 0;
   width: 500px;

 }
 .image_slider{
  width:55rem;
  float: right 
 }
 .image_arrow{
  position: absolute;
  left: 45%;
 }

.select_name{
  width: "12rem";
  height: "40px";
  border-radius: "8px";
  border:" 1px solid rgba(110, 118, 132, 0.33)";
  background: "#FFF"
}
.Evaluate{
  background-color: #21207F;
  width: 250px;
  height: 55px;
  border-radius: 10px;
  text-align: center;
  padding:5px 
}


 @media (max-width: 960px) {
  .Evaluate{
    width: 150px;
  margin: auto;
  }
  .image_slider{
    width:26rem;
    float: right;
    margin-right: 35px; 
   }
   .Center_left{
    /* border:solid 2px #000; */
    display: none;
    flex-direction: column;
    position:absolute;   
 
   }

   .image_arrow{
    left: 25%;
    z-index: 999;
   width: 30%;
  }
  .buttom_slider {
    position: relative;
    top:10px;
    font-size: x-small;
  }
  .select_name{
    width: 100%;
  }
  /* .titles{ */
    /* border:solid 2px #000; */
    /* width: 100%; */
    
   /* } */
 }



 .image_serves_box{
  /* border:solid 15px #000; */
  /* height: 9rem; */
  margin-left: 10px;
  margin-right: 10px;
 }








 .image-container{
  width: 250; 
  position: "relative";
   background-color: rgba(38, 170, 225, 0.05); 
  float: right
 }

 .blog-car-image-container {
   position: relative;
   top: -95px;
   right:  50px;
   width: 400px;
   margin-bottom: 20px;
   /* align-items: center; */
 }

 .blog-car-image {
  width: 300px;
  height: 300px;
  flex-shrink: 0;
   position: absolute;
   top: 0;
   right: 0;

   /* opacity: 80%; */

 }

 .blog-car-div {

  width: 300px;
height: 300px;
flex-shrink: 0;
   position: relative;
   right: 100px;
   top: 50px;
   /* width: 150px; */
   /* height: 200px; */
   /* background-color: #21207F; */
   border-radius: 33px;
   /* border: 2px solid rgba(255, 255, 255, 0.35); */


 }


 
 .image_post{
  width: 20%;
  height: 20%;

  /* margin: 10px; */

  background-color: #ffffff;
  border-radius: 50%;
  overflow: hidden;
  /* border-color:#000; */
 }

.image_post_clint{
  width: 10%;height: 10%;
}


 .phone-images {
   position: relative;
   width: 100%;
   height: 400px;
   top: 25px;
 }

 .phone-image-1 {
   position: absolute;
   z-index: 2;
   top: -70px; 
   right: 10rem; 
   bottom: 0;
   width: 90%;
   /* height: 100%; */

 }

 .phone-image-2 {
  position: absolute;
  z-index: 1;
  /* top: 0;   */
  width: 100%;
  right: 100px;
  bottom: 40px;


}
 .title_sub{
color: var(--neutral-100, #F5F5F5);
text-align: center;
font-family: "Tajawal";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;

 }

.app{
  width:"400px";
  margin:25px

}
.app img{
  width:40%;
  border-radius: 10px;
/* border:solid 1px #000; */
margin:25px
}

.container_responss{
  width: 100%;
  max-width: 1520px;
  margin: 20px 20px;
  /* padding: 0px 30px; */
  margin: auto;
}


 @media(max-width:960px){

  .phone-image-1 {

    top: -45px; 
    left: -70px; 
    bottom: 0;
    width: 70%;
    /* height: 100%; */
 
  }
  .title_sub{
    font-size: 15px;
    position: relative;
    right:  50px;
    /* border:solid 2px #000; */
  }
  .app{
    width:100%;
    margin-bottom: 20px;
    position: relative;
    right:  22.5%;
    /* border:solid #000 1px; */
  }
  .app img{
    width: 40%;
    margin:5px 5px auto;
  }
  .phone-image-2 {
    width: 90%;
    left: -5rem;
    bottom: 40px;
 
 
  }
  .container_responss{
    /* position:relative; */
    /* right:40%; */
  
    /* width: 100%; */
    /* max-width: 1520px; */
    /* margin-right: 30px; */
    padding: 0px;
    margin: auto;
  }
 }







 .contact-item {
  margin-left: 20px;
  margin-bottom: 50px;
  /* border: solid 10px #000; */
}

.item-link {
  display: flex;
  align-items: center;
}

.item-link i,
.item-link span {
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
  font-family: 'Tajawal';

}

.item-link:hover i,
.item-link:hover span {
  color: #3496d8;
}




 .slick-slide {
   margin: 0 20px;
   padding: 20px;
 }

 .slick-dots{
  position: relative;
  top:-300px;
 
 } 
@media(max-width:960px){
  .slick-slide {
    margin: auto;}
    .slick-dots{
      /* position: relative; */
      top:-10px
     } 

}

 
 .continer_star{
  display: flex;
  justify-content:flex-end;
  align-items: center;
 }



.slick-list {
  /* // adjust the card-margin  */
   width: calc(100% + 20px);
 }
 .client-name {
   display: inline-flex;
   /* left: 80px; */
   flex-direction: row-reverse;
   /* position: relative; */
   margin: 15px;
   padding: 0 10px;
   margin-bottom: 5px;
   /* border: solid 2px #000 ; */
 }
 .client-name-post {
  color: #464646;
  padding: 0  20px;
  padding-top:  20px;
  padding-bottom:  20px;
  text-align: right;
  font-family: "Tajawal";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 32.4px */
 }
.titl_blog_note{
  display:'grid';
  justify-Content:center;
  margin:"auto"; 
  position: "relative";
  left:"75px"
}
.titl_blog_note h4{
  text-align: right;
  font-family: "Tajawal";
  font-Size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: 66px;
}

.row-resevers{
  --bs-gutter-x: 1.5rem; 
    --bs-gutter-y: 0;
    display: flex;
    width:90%;
    margin-top: 30px;
    /* flex-wrap: wrap; */
    /* margin-top: calc(-1 * var(--bs-gutter-y)); */
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row-chackbox{
  --bs-gutter-x: 1.5rem; 
    --bs-gutter-y: 0;
    display: flex;
    width:90%;
    margin-left: 10%;
    margin-right: 10%;
   }
.row-footer{
  --bs-gutter-x: 1.5rem; 
    --bs-gutter-y: 0;
    display: flex;
    /* width:90%; */
    /* margin-top: 30px; */

    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row-footer-logo{
  --bs-gutter-x: 1.5rem; 
    --bs-gutter-y: 0;
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
    /* width:90%; */
    /* margin-top: 30px; */

    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}


.download_footer{
  display: block;
  position:relative;
  left:7rem;
}

.cost-footer{
  width:20%;
  margin: auto;
}

.input-footer{
  width: 342px;
height: 64px;
flex-shrink: 0;
border-radius: 15px;
background: rgba(233, 233, 233, 0.75);
}
.input-group-text{
  border-radius: 15px;
background: #2D3291;
}

.inupt-footer{
  width:20rem
}

.cartrust-footer{
  width: 30%;
  margin: 10px;
  
}
.footer-down{
  width: 50%;

  /* border:solid 2px #000; */
  display: grid;
  justify-content: flex-start;
  /* align-items: flex-end; */
  align-self: center;
  word-wrap: break-word;
}

.media_footer{
  margin-left:10%;
  width:100%
}
.logo_footer{
  /* margin-left: 30%; */
  position: relative;
  left:   20%;
}

.social{
  width: 5%;
}
 @media (max-width: 1500px) {
   .service-car-images {
     position: "relative";
     height: 500px;

     /* align-items: center; */
   }

   .service-car-image-1 {
     position: absolute;
     /* top: 0; */
     left: 0;
     /* right: 400px; */
     /* width: 500px; */

   }


   .blog-car-image-container {
     position: "";
     /* top: 0; */
     /* left: 0; */
     width: 400px;
     height: 400px;
     /* align-items: center; */
   }







 }

 @media (max-width: 860px) {
   .service-car-images {
     display: none;

   }


   .phone-image-2 {
     right: 0px;
   }

   .selected-car {
     background: blue;

   }
   .row-footer-logo{
    flex-wrap: wrap;
   }
   .row-footer{
    flex-wrap:wrap-reverse;
    margin: 10px;
    
   }
   .download_footer{
    display: flex;
    flex-direction: row-reverse;
   left:0;
 }
 .tax-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  margin-top: -35px;
 }
 
 .cost-footer{
  width:60%
}
.inupt-footer{
  width:100%
}
.media_footer{
  font-size: small;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin: 0 50%;
}
.social{
  width: 19%;
}

/* .blog-car-image { */
    /* display: none; */
    /* position: absolute;
    left: 25%;
    width: 250px;
    height: 250px; */

  /* } */
   /* .blog-car-div { */
    /* display: none; */
    /* position: absolute;
    width: 250px;
    height: 250px; */
  /* } */
  .titl_blog_note h4{
 
    font-Size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 66px;
  }
  .logo_footer{
    left: 0;
  }
 }

 .headerComp .slick-slide {
   margin: 0px !important;
   height: 400px !important;
   /* padding-left: -50px !important; */
   /* width: 0px !important; */
 }

 .headerComp .slick-current {
   width: 100vw !important;
   /* margin-left: -80px !important; */
   /* display: none !important; */
 }

 .headerComp .slick-cloned {
   display: none !important;
  
 }

 .headerComp .slick-list {
   overflow: visible !important;
   max-height: 400px;
 }


 

 .tm-nav-link {
  color: #1E1E1E;
  text-align: right;
  font-family: "Tajawal";
  font-size:14px;
  margin: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;

} 

.tm-navbar.scroll .tm-nav-link {
  color: #3C4097;
  border-radius: 5px;
  padding: 5px;

}

.tm-navbar.scroll .tm-nav-link:hover,
.tm-navbar.scroll .tm-nav-link.current,
.tm-nav-link:hover {
 
  color: #FFF;
  background-color: #3C4097;


  border-radius: 8px;
  font-weight: 600;
}
.seaction_nave{
  display: flex;
}
.burgerIcon{
  margin-top:-15px ;
}
.logo_home{
  width: 10%;
}
@media(max-width:960px){
  .logo_home{
    width: 30%;
    margin: 8%;
    /* margin-left: 20%; */
    /* margin-left: 20%; */
  }
.switch-lung{
  display: none;
}
  .tm-navbar.scroll .tm-nav-link:hover,
.tm-navbar.scroll .tm-nav-link.current,
.tm-nav-link:hover {
  color: #FFF;
  background-color: #3C4097;
  /* padding: 15px; */
  border-radius: 0;
  font-weight: 600;
  flex-shrink: 0;
  /* width: 100%; */
  width: 15rem;
}
}


.dropdown_navber {
  position: absolute;
  display: inline-block;
  /* border:solid 1px #9d9b9b; */
  background-color: #ffffff;
  border-radius: 8px;
  width: 16rem;
  right:  0;
  margin: auto;
  text-align: right;
  /* overflow: hidden; */
}

.dropdown {
  position: relative;
  display: inline-block;
 }
 
 .dropdown-content {  
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 8px;
  flex-shrink: 0;
  min-width: 260px;
  /* max-width: 260px; */
  box-shadow: 5px -5px 20px 5px rgba(0, 0, 0, 0.07);
  z-index: 1;
  color: #000;

text-align: right;
font-family: "Tajawal";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 32px;
 }
 
 .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
 }
 
 .dropdown-content a:hover {
  border-radius: 5px;
  background: #3C4097;
  color: rgb(255, 255, 255);
 }
 
 .dropdown:hover .dropdown-content {
  display: block;
 }
 
 .dropdown:hover .dropbtn {
  background-color: #3e8e41;
 }




 /* selecter */
 .select-image select {

  /* background-color: transparent; */

  border: none;
  font-size: 14px;
  color: #333;
  width: 100%;
  height: "100px";

  padding: 0;
  height: auto;
  option {
     padding: 10px 0;
     background-color: #fff;
  }
 }
 .select-image  {
  /* background-color: transparent; */

  border: none;
  font-size: 14px;
  color: #333;
  width: 100%;
  height: "100px";

  padding: 0;
  height: auto;
  option {
     padding: 10px 0;
     background-color: #fff;
  }
 }
 
 .select-image img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  
 }

.Brand{
  width: 100%;

  max-height: 3.9vh;
  border-radius: 5px;
  border:solid 1px #000;
}

 .dropdown_Brand {
  position: relative;
  display: inline-block;

 }
 
 .dropdown-content-Brand {  
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 8px;
  flex-shrink: 0;
  min-width: 260px;
  /* max-width: 260px; */
  box-shadow: 5px -5px 20px 5px rgba(0, 0, 0, 0.07);
  z-index: 0;
  color: #000;

text-align: right;
font-family: "Tajawal";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 32px;
 }
 
 .dropdown-content-Brand a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
 }
 
 .dropdown-content-Brand a:hover {
  border-radius: 5px;
  background: #3C4097;
  color: rgb(255, 255, 255);
 }
 
 .dropdown_Brand:hover .dropdown-content-Brand {
  display: block;
 }
 
 .dropdown_Brand:hover .dropbtn {
  background-color: #3e8e41;
 }























.country-option{
  width: 100%;
  /* border:solid 1px #000; */

  margin: 0;
  /* background-color: #Fff; */
  display: flex;
  justify-content: space-between;
  /* position: absolute; */
 }
 .country-option img{
  width: 45px;
  height: 100%;
  max-width: 50px;
  margin: 1px;
  padding: 4px;
  /* margin-top: 3px; */
  /* height:  30%; */
 }
.country-option_continer{
  width: 100%;
  /* border:solid 1px #000; */

  margin: 10px;
  /* background-color: #Fff; */
  display: flex;
  justify-content: space-between;
  /* position: absolute; */
 }


.title-login{
  font-size: 40px; 
  font-weight: 600;
  color: #000000
}
.title-sub-login{
  font-size: 16px;
  font-weight: 400;
  color: #2D3291 ;
  /* text-align: center; */
}

.input-login{
  border-radius: 5px; 
  width: 391px; 
  height: 43px;
  
  background: rgba(217, 217, 217, 0.00);
  /* border: 1px solid #2D3291 */
}
.img-login img{
  height: 100vh;
}
.otpInput{
  position:relative;
  right:40px;
}
@media(max-width:960px){
  .img-login{
    /* display: none; */
    position: relative;
    right:  10%;
  }
  .otpInput{
    right:0
  }
  .continer-login-home{
    height: 930px;
    width: 430px; 
    overflow: hidden;
  }
  .login-continer{
    position:absolute;
    top:25%;
    left:0;
    right:0;
    background-color:#fff;
    padding:20px 40px;
    justify-content:center;
    align-items:center;
    width:80%;
    border-radius:25px;
    opacity:90%;
  }
  .input-login{
    width: 100%; 
  height: 43px;
  }
}








/* Logo Slider */

.logo-slider {
	background: white;
	-webkit-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
	box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
	margin: auto;
	overflow: hidden;

	width: 100%;
}

.logo-slider::before, .logo-slider::after {
	background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
	background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
	content: "";
	height: 175px;
	position: absolute;
	width: 200px;
	z-index: 2;
}

.logo-slider::after {
	right: 0;
	top: 0;
	-webkit-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
}

.logo-slider::before {
	left: 0;
	top: 0;
}

.logo-slider .logo-slide-track {
	-webkit-animation: logo-scroll 60s linear infinite;
	animation: logo-scroll 60s linear infinite;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: calc(250px * 14);
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.logo-slider .slide {
	height: 150px;
	width: 250px;
	padding: 20px;
}

@-webkit-keyframes logo-scroll {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(calc(-250px * 7));
		transform: translateX(calc(-250px * 7));
	}
}

@keyframes logo-scroll {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(calc(-250px * 7));
		transform: translateX(calc(-250px * 7));
	}
}



/* dashboard */

.active{
  color:#fff;
}

.active-icon{
  color:#B57295 !important;
}
/* .active-icon-nave{
  color:#3D5278!important;
} */
.active-icon-user{
  color: #000 !important;
  width: 3.5em;
  width: 3.5em;
  border-radius: 50%;
  background-color: #ebebeb;
  overflow: hidden;

  /* box-shadow: 0 4px 2px rgb(0, 0, 0,07); */
}
.active-icon-user-nav{
  color: #000 !important;
  width: 4.5em;
  width: 4.5em;
  margin-left: 55% ;
  border-radius: 50%;
  background-color: #ebebeb;
  overflow: hidden;

  /* box-shadow: 0 4px 2px rgb(0, 0, 0,07); */
}
.sidebar-items_dark{
  color:gray;
  font-size:large;
  padding-right:4em ;
  width: 100%;
  height: 6vh;
}
.sidebar-items{
  color:gray;
  font-size:large;
  padding-right:4em ;
  width: 100%;
  height: 6vh;
}
/* .css-1g7aboa{
  /* background-color:#000000 !important; */
  /* display: none !important; */
/* }  */

.sidebar-items p {
  margin-left:  1em;
}


.sidebar-items:hover p{
  color:#fff
}
.sidebar-items:hover {
  background-color:#2D3291;
  border-radius: 10px;
  /* padding: 1em  4em ; */
}

.sidebar-items:hover svg{
  color:#B57295
}

.sidebar-items:not(:last-child){
  margin-bottom:1.5em;
}

.icon_car{
  color:#90A3BF !important;
}